
<!--<button class="btn btn-danger" ng-click="deleteAll()">delete all</button>-->

<input type="text" ng-model="personId"> </input>
<button class="btn btn-success" ng-click="updateUserData(personId)">fetch info</button>

<h2>
    Installations
</h2>
<div class="box-content box-table">
        <table id="sample-table" class="table table-hover table-bordered tablesorter" width="100%">
            <col width="30%">
            <col width="30%">
            <col width="20%">
            <col width="20%">
            <thead>
                <tr>
                    <th>name</th>
                    <th>device_type</th>
                    <td>device_token</td>
                    <td>registration_datetime</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="installation in installations">
                    <td>{{installation.installation_id}}</td>
                    <td>{{installation.device_type}}</td>
                    <td>{{installation.device_token}}</td>
                    <td>{{installation.registration_datetime}}</td>
                    <!--<td><button class="btn btn-success" ng-click="edit(entry)">Edit</button></td>-->
                </tr>
            </tbody>
        </table>
</div>