<h1></h1>
<div class="box-content box-table">
        <table id="sample-table" class="table table-hover table-bordered tablesorter" width="100%">
            <col width="30%">
            <col width="30%">
            <col width="20%">
            <col width="20%">
            <thead>
                <tr>
                    <th>id</th>
                    <th style="text-align:center"> name</th>
                    <th>Creator </th>
                    <th>Player Count</th>
                    <th>Place</th>
                    <th>layer_conversation_id</th>
                    <th>user agent registration</th>
                    <th>Created When</th>
                    <th>Last Login</th>
                    <th>Last Login Origin</th>
                    <th style="text-align:center">Impersonate</th>
                    <th style="text-align:center">Delete</th>
                    <th style="text-align:center">Activate</th>
                    <th style="text-align:center">Mail Activation</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="pichanga in pichangas">
                    <td><a href="/pichangas/{{pichanga.pichanga_id}}">{{pichanga.pichanga_id}}</a></td>
                    <td>{{pichanga.name}}</td>

                    <td>
                        <a href="/user_explorer/{{pichanga.organizator_id}}">{{pichanga.organizer_name}} {{pichanga.organizer_email}}</a>

                    </td>
                    <td>{{pichanga.player_count}}</td>
                    <td>{{pichanga.place_id}} - {{pichanga.place_name}}</td>
                    <td>{{pichanga.layer_conversation_id}}</td>
                    <td>{{user.registration_origin}}</td>
                    <td><span am-time-ago="user.registration_datetime"></span> | {{user.registration_datetime}}
                    <td><span am-time-ago="user.lastlogin_datetime"></span> | {{user.lastlogin_datetime}}
                    <td>{{user.lastlogin_origin}}
                    <td>{{user.chain_name}}</td>
                    <td>
                        <a href="" ng-click="updEmployee(dataE.employee_id)" class="btn btn-small btn-info">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td class="td-actions" style="text-align:center">
                        <div class="btn-group btn-group-sm">
                            <a href="" class="btn btn-small btn-danger" ng-click="deleteUser(user)">
                                delete
                            </a>
                        </div>
                    </td>
                    <td class="td-actions" style="text-align:center">
                        <div class="btn-group btn-group-sm">
                            <a href="" class="btn btn-small btn-success" ng-click="activate(user)">
                                activate (2)
                            </a>
                        </div>
                    </td>
                    <td class="td-actions" style="text-align:center">
                        <div class="btn-group btn-group-sm">
                            <a href="" class="btn btn-small btn-success" ng-click="sendActivationEmail(user)">
                                send act mail
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    <json-formatter json="pichangas" open="1"></json-formatter>
</div>
